.row
  - if current_user.present?
    = render partial: 'shared/sidebar', locals: { user: current_user, topics: topics }
    = render partial: 'home/main_feed', locals: { user: current_user, topics: topics }
  - else
    %h3 Gator v.3 Coming Soon
