.row
  = render partial: 'shared/sidebar', locals: { user: current_user, topics: current_user.topics, feeds: current_user.feeds, all_feeds: [] }
  .medium-9.columns
    - if current_user && current_user.authenticated_with('twitter')
      = render partial: 'twitter/index', locals: { tweets: current_user.twitter_feed, user: current_user }
