* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #fff;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-sans-serif;
}

main {}

.all-feeds-list {
  li form input[type=submit] {
    @include defaults();

    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: $secondary-color;
    text-decoration: none;
  }
}

.user-feeds-list,
.user-topics-list,
.all-feeds-list {
  @include defaults();
  list-style: none;
}

.tweet {
  @include defaults();
  @include flexbox();
  @include flex-flow(row);
  @include flex-align-items(space-around);
  border-bottom: 1px solid $iron;
  margin: .5em 0;
  padding: .5em 1em;

  .profile-image {
    @include flex(1);
    margin: 0 .5em;

    img {
      border-radius: 6px;
      width: 100%;
      height: auto;
    }
  }

  .tweet-body {
    @include flex(10);

    .handle {
      .user-name a {
        color: $charcoal;
        font-weight: bold;
      }

      .user-handle a {
        color: $aluminum;
        font-weight: normal;
      }
    }

    .tweet-text {
      color: $charcoal;
      font-size: .9em;
      margin-bottom: 1em;
    }

    .tweet-media {
      a {
        display: block;
        border-radius: 6px;
        overflow: hidden;
        max-height: 300px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
