* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #fff;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-sans-serif;
}

main {}

.tweet {
  @include defaults();
  @include flexbox();
  @include flex-flow(row);
  @include flex-align-items(space-around);
  border-bottom: 1px solid $iron;
  margin: .5em 0;
  padding: .5em 1em;

  .profile-image {
    @include flex(1);
    margin: 0 .5em;
  }

  .tweet-body {
    @include flex(10);
  }
}
